
 @import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&family=Tilt+Warp&display=swap');

port url('https://fonts.googleapis.com/css2?family= Shantell +Sans:wght@300 & display=swap');
</estilo>

@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;1,500&family=Tilt+Prism&display=swap');
…background-color: #74EBD5;
text-align: center;
color: white;
  }
  .conhecimentos{
    color:#212121;
    text-decoration: underline;
    font-size: 40px;
    font-family: 'Tilt Warp', cursive;
    text-align: center;
  }
  .baixo{
    color: white;
    text-align: center;
    font-size: 25px;
font-family: 'Shantell Sans', cursive;
  } 

@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&family=Tilt+Warp&display=swap');

port url('https://fonts.googleapis.com/css2?family= Shantell +Sans:wght@300 & display=swap');
</estilo>

@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;1,500&family=Tilt+Prism&display=swap');
…background-color: #74EBD5;
