
  @import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300&family=Tilt+Warp&display=swap');

port url('https://fonts.googleapis.com/css2?family= Shantell +Sans:wght@300 & display=swap');
</estilo>

@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300;0,400;1,500&family=Tilt+Prism&display=swap');

.penis{
    background-color: black;
   color: cornsilk;
  font-size: 50px;
 font-family: 'Shantell Sans', cursive;
    border-radius: 10px;
  text-align: center;
}
  body{
background: rgb(41,56,130);
background: radial-gradient(circle, rgba(41,56,130,1) 50%, rgba(0,0,0,1) 100%);
  }
  .piroca{
    font-family: 'Tilt Warp', cursive;
    font-size: 40px;
    color:gold;
    text-align: center;
    margin: 10px;
  }
  .sobremim2{
    font-size: 25px;
    color: white;
    font-family: 'Shantell Sans', cursive;
text-align: center;
color: white;
  }
  .conhecimentos{
    color: gold;
    text-align: center;
    font-size: 40px;
    font-family: 'Tilt Warp', cursive;
  }
  .baixo{
    color: white;
    text-align: center;
    font-size: 25px;
font-family: 'Shantell Sans', cursive;
  }
